* {
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /*min-height: 100vh;*/
}

.Sub-panel {
  background-color: rosybrown;
  padding: 20px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  border-radius: 10px;
}

.inputValue {
  border: none;
  outline: none;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.Accordion-panel {
  background-color: rosybrown;
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  /*justify-content: space-between;*/
  width: 300px;
  border-radius: 10px;
}